certifi==2018.1.18
chardet==3.0.4
Django==2.2.10
idna==2.6
pew==1.1.2
pipenv==10.1.2
psutil==5.3.1
pytz==2018.3
requests==2.20.0
urllib3==1.23
virtualenv==15.1.0
virtualenv-clone==0.2.6
gunicorn==19.7.1
